ANTHROPIC_API_KEY=
ANTHROPIC_MODEL=
TOGETHER_API_KEY=
TOGETHER_MODEL=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
ELEVENLABS_VOICE_SPEED=1.1
ELEVENLABS_VOICE_STABILITY=0.5
ELEVENLABS_VOICE_SIMILARITY=0.75
DOCUMENTS_BUCKET=
AUDIO_BUCKET=
DYNAMODB_TABLE=
AWS_REGION_NAME=
